
@{
    ViewBag.Title = "Child Girls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/ShortSleeves.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
<input type="hidden" id="type" value="@ViewBag.Type" />
<div id="content-products" ng-controller="MenController">
    <div id="bread-container-1">
        <ul class="breadcrumb1">
            <li><a href="main.html">Child </a></li>
            <li><strong>Child Girls</strong></li>
        </ul>
    </div>

    <div class="product-container-col">
        <h3 class="block-head">
            <a href="#">Child Girls</a>
        </h3>
    </div>

    <div class="filter-container">
        <div class="select-option">
            <select>
                <option value="Sizes"> Sizes </option>
                <option value="XXL"> XXL </option>
                <option value="XL"> XL  </option>
                <option value="L"> L   </option>
                <option value="M"> M   </option>
                <option value="XM"> S </option>
                <option value="XM"> XS </option>
            </select>
        </div>
        <div class="select-option">
            <select>
                <option value="Colors"> Colors </option>
                <option value="Blue"> Blue </option>
                <option value="Gray"> Gray </option>
                <option value="Black"> Black   </option>
                <option value="White"> White  </option>
                <option value="Red"> Red </option>
            </select>
        </div>
        <div class="select-option">
            <select>
                <option value="Price"> Price </option>
                <option value="High"> High Price </option>
                <option value="Medium"> Medium Price </option>
                <option value="Low"> Low Price   </option>
            </select>
        </div>
        <div class="select-option">
            <button id="findBtn" type="button" name="button" title="Find suitable product">Find</button>
        </div>
    </div>

    <div class="content-categories">

        <div class="product-container-4-col">
            <a href="Detail/{{item.ID}}" ng-repeat="item in listData">
                <div class="item-image-4-col">
                    <img src="{{image}}" ng-repeat="image in item.ImagesName" />
                </div>
                <div class="product-caption">
                    <h3>
                        SweetShirt: {{item.Name}}
                    </h3>
                    <p>Price: {{(1-item.PromotionPrice/100)*item.Price|currency}}</p>
                </div>
            </a>
        </div>




        <div class="center">
            <div class="paging">

            </div>
        </div>

    </div>
</div>
